

{% extends 'base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" type="text/css" href="static/css js/varifivcation.css">
<link rel="stylesheet" type="text/css" href="static/css js/card_box.css">
<link rel="stylesheet" type="text/css" href="/static/css js/media_tag.css">
{% endblock%}


{% block navleft %}

{% endblock%}


{% block navright %}

{% endblock%}

{% block body1 %}
<!--help-->




<!--Account Detail-->

<div class="col-12	col-sm-12	col-md-8 col-lg-8 col-xl-8 offset-lg-2">

<h5 class="p-1">My ADs: </h5>


<div class="boxVari  border border-dark">




  <div class="">
    <img  src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid mb-3">
    <h3 class="h4">Niamul Hasan</h3>
    <p class="caption mb-3 text-primary">Back-End Developer</p>
    <p><a href="https://github.com/niamul64" target="_blank">My GitHub</a> </p>
  </div>



</div>
</div>

{% endblock%}




