{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head %}



{% endblock%}




{% block body1 %}
<div class="col-12	col-sm-12	col-md-8 col-lg-8 col-xl-8 offset-lg-2">
    <div class="card boxShadow border-4 justify-content-center"    >
<form  method="post" action="{% url 'signup' %}">
      {% csrf_token %}
{% if error %}
<p class="text-danger"  > {{error}} </p>
{% endif %}

    {{form1|crispy}}
    {{form2|crispy}}
    <input class="refont" type="submit" value="Sign Up">


</form>
    </div>
</div>


{% endblock%}

