{% extends 'base.html' %}



{% block head %}
<link rel="stylesheet" type="text/css" href="static/css js/varifivcation.css">
<link rel="stylesheet" type="text/css" href="static/css js/card_box.css">
<link rel="stylesheet" type="text/css" href="/static/css js/media_tag.css">
{% endblock%}


{% block navleft %}

{% endblock%}


{% block navright %}


<form  class="d-flex" action="{% url 'home' %}" method="GET">
{% csrf_token %}
<select name="location" id="location">
    {% if lo %}
  <option value="{{lo}}">{{lo}}</option>
    {% endif%}
    <option value="">Location</option>
  <option value="Dhaka Cantonment">Dhaka Cantonment</option>
  <option value="Dhamrai">Dhamrai</option>
  <option value="Dhanmondi">Dhanmondi</option>
  <option value="Gulshan 1">Gulshan 1</option>
  <option value="Gulshan 2">Gulshan 2</option>
  <option value="Jatrabari">Jatrabari</option>
  <option value="Keraniganj">Keraniganj</option>
  <option value="Khilgaon">Khilgaon</option>
  <option value="Khilkhet">Khilkhet</option>
  <option value="Lalbag">Lalbag</option>
  <option value="Mohammadpur">Mohammadpur</option>
  <option value="Mirpur">Mirpur</option>
  <option value="Motijheel">Motijheel</option>
  <option value="Palton">Palton</option>
  <option value="Ramna">Ramna</option>
  <option value="Sabujbag">Sabujbag</option>
  <option value="Uttara">Uttara</option>
  <option value="Dhanmondi">Dhanmondi</option>
  <option value="Boshundhora">Boshundhora</option>
  <option value="Bonani">Bonani</option>
  <option value="Mohakhali">Mohakhali</option>
</select>
    <span class="d-block d-sm-none d-md-none clearfix"><br></span>
        <input class="form-control me-2 mx-1  " name="search" type="search" placeholder="Search" aria-label="Search" value="{{se}}">
        <button class="btn btn-outline-success" type="submit">Filter</button>
</form>
{% endblock%}

{% block body1 %}
<div class="col-12	col-sm-12	col-md-8 col-lg-8 col-xl-8 offset-lg-2">
  <p class="p-1">welcome {{ user.username }}</p>
{% if message %}
<p class="text-success"> {{message}} </p>
{% endif %}

<div class="boxVari ">

{% for i in obj%}
<div class="card mb-3 boxShadow "  onclick="window.location='{% url 'detail' i.id %}'; "  style=" cursor: pointer;" >
  <p class="card-header p-2">{{i.title}}</p>
  <div class="card-body">

      <img src="{{i.img1.url}}" class="img-thumbnail float-left" width="150px" >
      <div class="">
      <p class="card-text"> Price: {{i.price}}</p>
      <p class="card-text"> Sqft: {{i.sqft}}</p>
      <p class="card-text"> Number of Bed Roms: {{i.bedRoom}}</p>
      <p class="card-text ">Description: {{i.des}} .....</p>

      </div>


  </div>
</div>
{% endfor%}



</div>

</div>
{% endblock%}